<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brain Tumor Classification Using Deep Learning</title>
    
    <!-- Link Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Link Custom CSS -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    
    <!-- jQuery and Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body class="bg-dark text-light hello">

    <nav class="navbar navbar-expand-lg navbar-dark " style="height: 10%; background-color: rgba(255, 174, 0, 0.5);">
        <div class="container">
            <a class="navbar-brand" href="#"  style="font-size: 2rem; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">DiagnoAid</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>
